.header {
  background: transparent;
  width: 100%;
  height: 5rem;
  display: flex;
  place-content: center;
  padding: 1rem 0.5rem;
}

.nav {
  display: flex;
  gap: 3rem;
}

.btnMobile {
  padding: 22px;
  border-radius: 50%;
  position: relative;
  border: 2px solid var(--yellow);
  background: transparent;
  color: var(--yellow);
  cursor: pointer;
  filter: drop-shadow(0px 0px 10px var(--yellow));
  display: flex;
  place-content: center;
  transition: 0.3s ease-in-out;
}

.btnMobile:hover,
.btnMobile:focus {
  outline: none;
}

.btnMobile::after {
  content: "";
  background: currentColor;
  width: 55%;
  height: 1.8px;
  position: absolute;
  box-shadow: 0px 7px 0px currentColor, 0px -7px 0px currentColor;
  transition: 0.3s ease-in-out;
}

.btnMobileActive {
  display: flex;
  align-items: center;
}

.btnMobileActive::after {
  transform: rotate(-90deg);
  box-shadow: 0px 9px 0px currentColor, 0px -9px 0px currentColor;
  height: 4.5px;
  width: 4.5px;
  border-radius: 50%;
}

.navMobile {
  display: flex;
  position: fixed;
  flex-direction: column;
  border: 2px solid var(--yellow);
  border-radius: 0.3rem;
  top: 13.5%;
  right: 1%;
  padding: 0.5rem;
  gap: 0.5rem;
  box-shadow: 0px 0px 4px var(--yellow);
  pointer-events: none;
  transform: translateX(20px);
  opacity: 0;
  transition: 0.2s linear;
}

.navMobileActive {
  transform: translateX(0px);
  opacity: 1;
}

.navItemMobile a {
  color: var(--yellow);
  font-size: 1.3rem;
  position: relative;
  text-shadow: 0px 0px 10px var(--yellow);
  padding: 0.2rem;
  transition: 0.3s ease-in-out;
}

.navItemMobile a::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(45deg, transparent, var(--yellow), transparent);
  bottom: 0px;
  left: 0;
}

.navItem a {
  color: var(--yellow);
  font-size: 1.2rem;
  position: relative;
  text-shadow: 0px 0px 10px var(--white);
  padding: 0.2rem;
  transition: 0.3s ease-in-out;
}

.navItem a::before {
  content: "";
  background: var(--white);
  height: 100%;
  width: 100%;
  position: absolute;
  transition: all 0.3s ease-in-out;
  bottom: -1.2rem;
  filter: blur(8px);
  opacity: 0.5;
  transform: perspective(1.1em) rotateX(40deg);
  pointer-events: none;
}

.navItem a:hover,
.navItem a:focus {
  outline: none;
  border: none;
  text-shadow: 0px 0px 20px var(--yellow);
}

.navItem a:hover::before,
.navItem a:focus::before {
  transform: perspective(0.8em) rotateX(40deg);
  background: var(--yellow);
  opacity: 0.7;
}

@media (max-width: 550px) {
  .header {
    place-content: end;
    padding: 1.5rem 2rem;
  }
}
