.header {
  background: transparent;
  width: 100%;
  height: 5rem;
  display: flex;
  place-content: center;
  padding: 1rem 0.5rem;
}

.nav {
  display: flex;
  gap: 3rem;
}

.btnMobile {
  padding: 22px;
  border-radius: 50%;
  position: relative;
  border: 2px solid var(--yellow);
  background: transparent;
  color: var(--yellow);
  cursor: pointer;
  filter: drop-shadow(0px 0px 2px var(--yellow));
}

.btnMobile::after {
  content: "";
  background: currentColor;
  width: 55%;
  height: 1.8px;
  position: absolute;
  transform: translateX(-50%);
  box-shadow: 0px 7px 0px currentColor, 0px -7px 0px currentColor;
}

.navMobile {
  display: none;
}

.navItem a {
  color: var(--yellow);
  font-size: 1.2rem;
  position: relative;
  filter: drop-shadow(0px 0px 2px var(--yellow));
}

.navItem a::before {
  content: "";
  background: var(--yellow);
  height: 2px;
  width: 0%;
  position: absolute;
  transition: width 0.3s ease-in-out;
  bottom: 0px;
  left: 50%;
  transform: translateX(-50%);
}

.navItem a:hover::before {
  width: 100%;
}

@media (max-width: 550px) {
  .header {
    place-content: end;
    padding: 1.5rem 2rem;
  }
}
